.loginPage,
.signupPage {
  width: 100vw;
  height: 100vh;
}
.bigPic {
  position: absolute;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
.loginForm,
.signupForm {
  width: 40%;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
}
.login,
.signup {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40%;
  margin-right: 40%;
}
.login input,
.signup input {
  height: 20px;
  background: #e0dede;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.error,
.altLink {
  width: 80%;
  height: 20px;
  text-align: center;
  margin: auto;
}
