.loginPage,
.signupPage {
  width: 100vw;
  height: 100vh;
}
.bigPic {
  background: url("https://www.motortrend.com/uploads/sites/11/2019/09/Suzuki-Carry-Roundcat-Racing-11.jpg");
  background-repeat: no-repeat;
  background-size: 1675px;
  background-position-x: -287px;
  background-position-y: -2px;
  width: 60%;
  position: absolute;
  left: 0px;
  height: 100%;
}
.loginForm,
.signupForm {
  width: 40%;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
}
.login,
.signup {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40%;
  margin-right: 40%;
}
.login input,
.signup input {
  height: 20px;
  background: #e0dede;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.error,
.altLink {
  width: 80%;
  height: 20px;
  text-align: center;
  margin: auto;
}
