.footer {
  text-align: center;
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}
.footerElements {
  display: inline-block;
  padding-top: 10px;
  margin: auto;
}
#topLink {
  padding-left: 10px;
  cursor: pointer;
}
