.truckPagePic {
  width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.truckPageFrame {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #494545;
  display: inline-block;
  position: relative;
  left: 25px;
}
.truckPageContainer {
  width: 100vw;
  top: 100px;
  position: relative;
  text-align: center;
}
.truckPageFrameContainer {
  display: inline-block;
}
.truckPageDetails {
  display: inline-block;
  position: relative;
  left: 50px;
  top: -15px;
  text-align: left;
}
.truckPageButton {
  width: 200px;
  height: 40px;
  justify-content: center;
  display: block;
  color: #fff;
  background: #c32121;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: -10px;
}
button:disabled {
  background-color: gray;
  cursor: wait;
}
#truckPrice {
  width: 200px;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: block;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px;
}
.priceMessage {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.displayPrice {
  float: left;
  margin-left: 5px;
  position: absolute;
  color: white;
}

.otherTruckPic {
  width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.otherTruckFrame {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #494545;
  display: inline-block;
  position: relative;
  left: 25px;
  margin: 10px;
}
.otherTruckContainer {
  width: 100%;
  margin-top: 25px;
}
.tradeMessage {
  color: red;
  margin-top: 10px;
  width: 203px;
  text-align: center;
}
